@import url('https://fonts.googleapis.com/css2?family=Source+Sans+3:wght@400;600;700&display=swap');

html, body, #root .app , .content {
  height: 100%;
  width: 100%;
  font-family: "Source Code Pro", sans-serif;
}

.app{
  display: flex;
  postion: relative;
}

.content{
  flex: 1;
  overflow-y: auto;
  padding: 20px;
}

::-webkit-scrollbar {
  width: 10px;
}

::-webkit-scrollbar-track {
  background: #e0e0e0;
}

::-webkit-scrollbar-thumb {
  background: #888;
}

::-webkit-scrollbar-thumb:hover {
  background: #555;
}